<!-- <div id="online-users"></div>
<br/>
<div id="messages"></div>
<br/>

<div class="col-md-6 form-group container" style="position:fixed; bottom:0; text-align:left;">
  <label>Message</label>
  <input id="message" type="text" class="form-control" />
</div>

<script>
$(function () {
  App.init("<%= @channel %>");
});
</script> -->